#credits {
	font-family: Source Code Pro;
	position: fixed;
	left: 1%;
	bottom: 2%;
	color: #aaa;
}

#leftmenu {
	position: fixed;
	right: 2%;
	top: 5%;
	width: 15%;
	height: 90%;
	background-color: #234;
}

.menu_item {
	position: relative;
	font-size: 4vh;
	font-family: Source Code Pro;
	color: #ddd;
	left: 10%;
	margin-top: 5%;
	width: 80%;
	padding: 0.5vh 0;
	border-bottom: 3px solid #012;
}

.menu_item a {
	color: #ddd;
	text-decoration: none;
}