<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro">

	<link rel="stylesheet" href="/static/main.css">

	<title>krn | Examples</title>

	<style>
		body{
			background-color: #123;
		}

		.text{
			color: white;
		}

		.gray{
			color: #aaa;
		}

		.ar{
			font-family: Noto Naskh Arabic;
		}

		.en{
			font-family: Source Code Pro, Courier;
		}

		.bold {
			text-decoration: underline;
		}

		.titletext{
			font-size: 10vh;
			color: white;
			text-align: center;
			font-family: Source Code Pro, Courier;
		}

		#cursor {
			color: #88dd88;
		}

		.expos_div {
			font-family: Source Code Pro, Courier;
			background-color: #aaaadd;
			position: relative;
			width: 50%;
			padding: 1vh 1vw;
			transform: translate(-50%, 0%);
			left: 50%;
			margin-top: 5%;
			font-size: 2.5vh;
		}

		.expos_div_title {
			font-family: Source Code Pro, Courier;
			font-size: 4vh;
			text-align: center;
		}

		.krn_word {
			color: #00f;
		}

		a {
			color: inherit;
		}

	</style>

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4CT4NRB7MZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4CT4NRB7MZ');
</script>

<body>
	<br>
	<div id="krn_title" class="titletext">
		Examples<span id="cursor"></span>
	</div>

	<div class="expos_div">
		<br><br>

		<div class="example">
			<div class="sentence_krn">Na kr klmav (li) to</div>

			<div class="phon_krn">Nɒ kər kələmacəv(ə) (li) to.</div>

			<div class="sentence_eng">I am talking to you.</div>
		</div>

		<br><br>
	</div>

	<div class="expos_div">
		<br><br>

		<div class="example">
			<div class="sentence_krn">Na kr khnav khnacp ye na</div>

			<div class="phon_krn">Nɒ kər(ə) kəhənav(ə) kəhənacəp(ə) ye nɒ.</div>

			<div class="sentence_eng">I am eating my food.</div>
		</div>

		<br><br>
	</div>

	<div class="expos_div">
		<br><br>

		<div class="example">
			<div class="sentence_krn">Na kn nzrav dknacp</div>

			<div class="phon_krn">Nɒ kən(ə) nəzərav(ə) dəkənɒcəp(ə).</div>

			<div class="sentence_eng">I have seen the movie.</div>
		</div>

		<br><br>
	</div>

	<div class="expos_div">
		<br><br>

		<div class="example">
			<div class="sentence_krn">Trravi li na ktbacp ye to</div>

			<div class="phon_krn">Tərərɒvi li nɒ kətəbɒcəp(ə) ye to.</div>

			<div class="sentence_eng">Bring me your book.</div>
		</div>

		<br><br>
	</div>

	<div class="expos_div">
		<br><br>

		<div class="example">
			<div class="sentence_krn">Na kn kr ktbav jlmacp</div>

			<div class="phon_krn">Nɒ kən(ə) kər(ə) kətəbɒv(ə) jələmɒcəp(ə).</div>

			<div class="sentence_eng">I was writing a letter.</div>
		</div>

		<br><br>
	</div>

	<div class="expos_div">
		<br><br>

		<div class="example">
			<div class="sentence_krn">Jo ktbacp phlav jo khnacp</div>

			<div class="phon_krn">Jo kətəbɒcəp(ə) pəhəlɒv(ə) jo kəhənɒcəp(ə).</div>

			<div class="sentence_eng">That which is written precedes that which is spoken.</div>
		</div>

		<br><br>
	</div>

	<div class="expos_div">
		<br><br>

		<div class="example">
			<div class="sentence_krn">To klmav krn brnamp mn na</div>

			<div class="phon_krn">To kələmɒv(ə) kərən(ə) bərənɒməp(ə) mən(ə) nɒ.</div>

			<div class="sentence_eng">You speak krn better than me.</div>
		</div>

		<br><br>
	</div>

	<div class="expos_div">
		<br><br>

		<div class="example">
			<div class="sentence_krn">Scnecp ye gzsacp ye ns ne mlmamp b mlmeck li ks gzsacg</div>

			<br>

			<div class="sentence_exp">
				The first word is the perfective noun of the expansive form of the root <span class="krn_word">scn</span>. The literal root relates to thinking, and so the expansive would relate to understanding or comprehending. Thus the perfective form would entail the completion of the action of comprehending or reasoning, which would lead to, in this context, reason. We then have <span class="krn_word">gzsacp</span>, indicating existence, followed by <span class="krn_word">ye ns</span>, indicating that we are dealing with "the reason of the existence of us" -- or "the reason for our existence." The phrase <span class="krn_word">ne mlmamp</span> indicates "not known," after which we see <span class="krn_word">b mlmeck</span>.

				<br><br>

				Let's try to reason through this; <span class="krn_word">mlm</span> relates to knowing, and so the expansive would relate to something like understanding. Thus <span class="krn_word">mlmeck</span> is the gerundive -- or verbal noun -- of the infinitive "to understand" -- meaning that <span class="krn_word">b mlmeck</span> indicates "with understanding," which leads to the presence of the word "truly" in the translation. Thus we have the following translation:

			</div>

			<br>

			<div class="sentence_eng">The reason for our existence is not truly known to any person.</div>
		</div>

		<br><br>
	</div>
</body>
<script src="/static/js/menubar.js"></script>
<script>

	function wrapWordsInURLs(el) {
		var text = el.innerHTML.split(" ")
		var newText = [];
		for (var word of text) {
			var l = word.length
			var urlword;
			if (word[0] == '(' && word[l - 1] == ')') {
				urlword = word.slice(1, l - 1)
				newText.push("<a href='/word/" + urlword.toLowerCase() + "'>(" + urlword + ")</a>")
			}
			else {
				urlword = word
				newText.push("<a target='_blank' href='/word/" + urlword.toLowerCase() + "'>" + urlword + "</a>")
			}
		}
		el.innerHTML = newText.join(" ") + "."
	}

	function blinkCursor() {
		if (cursor.innerHTML == "_") {
			cursor.innerHTML = '&nbsp;'
		}
		else {
			cursor.innerHTML = '_'
		}
		setTimeout(blinkCursor, 700)
	}

	for (var el of document.getElementsByClassName("sentence_krn")) {
		wrapWordsInURLs(el)
	}

	blinkCursor();
</script>
</html>