<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro">

	<link rel="stylesheet" href="/static/main.css">

	<title>krn | Grammar</title>

	<style>
		body{
			background-color: #123;
		}

		.text{
			color: white;
		}

		.gray{
			color: #aaa;
		}

		.ar{
			font-family: Noto Naskh Arabic;
		}

		.en{
			font-family: Source Code Pro;
		}

		.titletext{
			font-size: 10vh;
			color: white;
			text-align: center;
			font-family: Source Code Pro;
		}

		#cursor {
			color: #88dd88;
		}

		.expos_div {
			font-family: Source Code Pro;
			background-color: #aaaadd;
			position: relative;
			width: 50%;
			padding: 1vh 1vw;
			transform: translate(-50%, 0%);
			left: 50%;
			margin-top: 5%;
			font-size: 2.5vh;
		}

		.expos_div_title {
			font-family: Source Code Pro;
			font-size: 4vh;
			text-align: center;
		}

		.krn_word {
			color: #00f;
		}

	</style>

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4CT4NRB7MZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4CT4NRB7MZ');
</script>

<body>
	<br>
	<div id="krn_title" class="titletext">
		gramm<span id="title_autogen"></span><span id="cursor"></span>
	</div>

	<div id="roots" class="expos_div">
		<div class="expos_div_title">
			Root Words
		</div>

		<br><br>

		A given three letter root word represents a concept. For example, <span class="krn_word">klm</span> relates to talking. By adding the vowel "a" to the root, we are taking its literal meaning. By adding the vowel "e", we turn it into its "expansive" form -- which usually works by expanding the context of the action. So, talking might become "speaking" in the context of an audience, or a lecture. The word <span class="krn_word">krn</span>, related to doing, would have literal root <span class="krn_word">krna</span> and expansive root <span class="krn_word">krne</span> (pronounced kərəne), which would relate to something like creating, or making -- a more broad context than just "doing."

		<br><br>

		root + a -> literal form
		<br>
		<span class="krn_word">krn</span>+<span class="krn_word">a</span> -> <span class="krn_word">krna</span>: doing

		<br><br>

		root + e -> expansive form
		<br>
		<span class="krn_word">krn</span>+<span class="krn_word">e</span> -> <span class="krn_word">krne</span>: creating, making

		<br><br>

	</div>

	<div id="root_derivs" class="expos_div">
		<div class="expos_div_title">
			Root Derivatives
		</div>

		<br><br>

		Now, we want to derive useful words from these roots. The first will be to make a noun -- we'll add a "c" -- pronounced "ch" -- to the end of the root. Next, we'll add an "m" to create modifier words, like adjectives and adverbs. Note that these words are a bit useless on their own -- we'll have to detail sub-derivatives in a moment. Lastly, adding a "v" will turn this into a verb, or infinitive.

		<br><br>

		root + form + 'c' -> noun base
		<br>
		root + form + 'm' -> adjective / adverb base
		<br>
		root + form + 'v' -> infinitive

		<br><br>

	</div>

	<div id="verbs" class="expos_div">
		<div class="expos_div_title">
			Verbs
		</div>

		<br><br>

		Conjugation is simple. Just add the intended pronoun in front of the verb as the subject, and you're done. There are a few modals that you will want to keep in mind -- they're listed below, but you can also probably infer them from the conjugation charts, for instance <a href='/word/gzsav'>here</a>.

		<br><br>

		Past Modal: kn, from Arabic كان
		<br>
		Perfective Modal: pa
		<br>
		Continuous Modal: kr, from Hindi करना, Persian كردن
		<br>
		Future Modal: fr
		<br>
		Imperative Suffix: i (long i/y sound)
		<br><br>

	</div>

	<div id="nouns" class="expos_div">
		<div class="expos_div_title">
			Nouns
		</div>

		<br><br>

		There are a few kinds of nouns. The first is the gerund -- that is, the noun representing the action being taken. For example, with the noun base <span class="krn_word">klmac</span>, referring to talking, we'll add a "k" to the end to refer to the gerund. Thus <span class="krn_word">klmack</span> (pronounced kələmachək) means the act of talking -- the verbal noun, that is.

		<br><br>

		Next, let's examine tha agentive noun. By adding a "g" to the end of the noun base, we create a noun referring to the agent of an action. So the noun base <span class="krn_word">klmacg</span> would refer to a person who is talking. Perhaps if we use the expansive root and create the word <span class="krn_word">klmecg</span>, we'll end up with a more useful word -- meaning "speaker" or perhaps "lecturer" in some contexts.

		<br><br>

		Next we have the perfective noun, referring to the result of an action being completed. Let's take the literal root word <span class="krn_word">khna</span>, referring to eating. The noun base here is <span class="krn_word">khnac</span>, and by adding a "p" to the end of the noun, we obtain <span class="krn_word">khnacp</span> -- which refers to the result of eating, or as we commonly know it as, a meal. We're starting to see how this formula yields itself to some very conveniently useful constructions.

		<br><br>

		We can also create a locative noun -- or a noun of place where -- by adding an "l" to the end of the noun base. Doing this with <span class="krn_word">zndac</span>, the noun base for the root referring to living, gets us <span class="krn_word">zndacl</span>, or a place where living occurs -- a home. Similarly, <span class="krn_word">klmecl</span> (pronounced kələmechəl) would refer to a stage, or auditorium -- a place where speaking occurs.

		<br><br>

		noun base + k -> gerundive / verbal noun
		<br>
		noun base + g -> agentive noun
		<br>
		noun base + p -> perfective noun
		<br>
		noun base + l -> locative noun
		<br><br>

	</div>

	<div id="modifiers" class="expos_div">
		<div class="expos_div_title">
			Modifiers
		</div>

		<br><br>

		When it comes to modifiers, we have a similar schema. Let's take, for instance, the modifier base <span class="krn_word">klmam</span> from the root word <span class="krn_word">klm</span>, relating to talking. We can create two modifiers than many of us are familiar with -- active and passive participles. The active participle will take on the suffix "k," creating the word <span class="krn_word">klmamk</span>, being an adjective meaning "talking" -- for instance, "the talking man." The passive participle will take on the suffix "p," creating an adjective meaning "talked" or "spoken" -- as in, "the spoken word."

		<br><br>

		modifier base + k -> active participle
		<br>
		modifier base + p -> passive participle
		<br><br>

	</div>

	<div id="pronouns" class="expos_div">
		<div class="expos_div_title">
			Pronouns
		</div>

		<br><br>

		The subject and object pronouns are as follows:

		<br><br>

		<span class="krn_word">na</span>, I / me
		<br>
		<span class="krn_word">to</span>, you
		<br>
		<span class="krn_word">wo</span>, he / her / it
		<br>
		<span class="krn_word">ns</span>, we / us
		<br>
		<span class="krn_word">vs</span>, you (plural)
		<br>
		<span class="krn_word">nh</span>, they / them
		
		<br><br>

	</div>

	<div id="preps_and_auxs" class="expos_div">
		<div class="expos_div_title">
			Prepositions and Auxilliaries
		</div>

		<br><br>

		Below are a few examples of auxilliary words and prepositions. This is not an exhaustive list; please search or view examples for a more complete understanding of how to use these.

		<br><br>

		<span class="krn_word">b</span>, with
		<br>
		<span class="krn_word">ye</span>, of
		
		<br><br>

	</div>

	<div id="preps_and_auxs" class="expos_div">
		<div class="expos_div_title">
			Possessives
		</div>

		<br><br>

		Possessives can be formed either with the auxilliary preposition <span class="krn_word">ye</span>, or by appending the personal pronoun to the end of a word.

		<br><br>

		<span class="krn_word">klmecp ye ns</span> / kələmecəp(ə) ye nəs(ə) / our speech (lit. speech of us)
		<br>
		<span class="krn_word">zndaclna</span> / zənədɒcələnɒ / my home
		
		<br><br>

	</div>

	<div id="preps_and_auxs" class="expos_div">
		<div class="expos_div_title">
			Numbers
		</div>

		<br><br>

		<span class="krn_word">nl</span> / zero
		<br>
		<span class="krn_word">yek</span> / one
		<br>
		<span class="krn_word">do</span> / two
		<br>
		<span class="krn_word">tin</span> / three
		<br>
		<span class="krn_word">car</span> / four
		<br>
		<span class="krn_word">panj</span> / five
		<br>
		<span class="krn_word">ce</span> / six
		<br>
		<span class="krn_word">sapt</span> / seven
		<br>
		<span class="krn_word">okt</span> / eight
		<br>
		<span class="krn_word">nav</span> / nine
		<br>
		<span class="krn_word">ds</span> / ten
		<br>
		<span class="krn_word">ds yek</span> / eleven
		<br>
		<span class="krn_word">ds do</span> / twelve
		<br>
		<span class="krn_word">ds tin</span> / thirteen
		<br>
		...
		<br>
		<span class="krn_word">do ds</span> / twenty
		<br>
		<span class="krn_word">do ds yek</span> / twenty one
		<br>
		...	
		<br>
		<span class="krn_word">sav</span> / one hundred
		<br>
		<span class="krn_word">sav yek</span> / one hundred one
		<br>
		...
		<br>
		<span class="krn_word">sav ds yek</span> / one hundred eleven
		<br>
		...
		<br>
		<span class="krn_word">sav do ds char</span> / one hundred twenty four
		<br>
		...
		<br>
		<span class="krn_word">hzr</span> / one thousand
		<br>
		...
		<br>
		<span class="krn_word">mil</span> / one million
		<br>

		<br><br>

	</div>

	<div id="wordorder" class="expos_div">
		<div class="expos_div_title">
			Word Order
		</div>

		<br><br>

		The word order can be either SOV or SVO -- that is, subject-object-verb or subject-verb-object. Below are some example sentences.

		<br><br>

		<span class="krn_word">na kr klmav to</span> / nɒ kər(ə) kələmɒv(ə) to / I am talking to you
		
		<br><br>

		<span class="krn_word">khnacp ye na (to) kn khnav</span> / kəhənɒcəp(ə) ye nɒ (to) kən(ə) kəhənɒv(ə) / You ate my food (lit. meal of mine<sup><a href="#footnote1">1</a></sup> you ate)

		<br><br>

	</div>
</body>
<script src="/static/js/menubar.js"></script>
<script>
	var AUTOGENS = ['ar', 'ar', 'ar', 'er?', 'ar', 'err?']

	function addToAutogen(c) {
		title_autogen.textContent += c
	}

	function removeFromAutogen() {
		title_autogen.textContent = title_autogen.textContent.slice(0, title_autogen.textContent.length - 1)
	}

	function autogen_for_title() {
		title_autogen.textContent = ''
		var choice = AUTOGENS[Math.round(Math.random() * AUTOGENS.length)]
		var l = choice.length
		var i = 1
		for (var char of choice) {
			(function (cc) {
				setTimeout(function () {
					addToAutogen(cc)
				}, 400 * i)
			})(char)
			setTimeout(removeFromAutogen, 3000 + 200 * i)
			i = i + 1
		}
	}

	function blinkCursor() {
		if (cursor.innerHTML == "_") {
			cursor.innerHTML = '&nbsp;'
		}
		else {
			cursor.innerHTML = '_'
		}
		setTimeout(blinkCursor, 700)
	}

	autogen_for_title()
	setInterval(autogen_for_title, 6 * 1000)
	blinkCursor();
</script>
</html>