<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro">

	<title>krn | Grammar</title>

	<style>
		body{
			background-color: #123;
		}

		.text{
			color: white;
		}

		.gray{
			color: #aaa;
		}

		.ar{
			font-family: Noto Naskh Arabic;
		}

		.en{
			font-family: Source Code Pro;
		}

		.titletext{
			font-size: 10vh;
			color: white;
			text-align: center;
			font-family: Source Code Pro;
		}

		#cursor {
			color: #88dd88;
		}

		.expos_div {
			font-family: Source Code Pro;
			background-color: #aaaadd;
			position: relative;
			width: 50%;
			padding: 1vh 1vw;
			transform: translate(-50%, 0%);
			left: 50%;
			margin-top: 5%;
			font-size: 2.5vh;
		}

		.expos_div_title {
			font-family: Source Code Pro;
			font-size: 4vh;
			text-align: center;
		}

		.krn_word {
			color: #00f;
		}

		#leftmenu {
			position: fixed;
			left: 2%;
			top: 5%;
			width: 15%;
			height: 90%;
			background-color: #234;
		}

		.menu_item {
			position: relative;
			font-size: 4vh;
			font-family: Source Code Pro;
			color: #ddd;
			left: 10%;
			margin-top: 5%;
			width: 80%;
			padding: 0.5vh 0;
			border-bottom: 3px solid #012;
		}

		.menu_item a {
			color: #ddd;
			text-decoration: none;
		}

	</style>

</head>
<body>
	<br>
	<div id="krn_title" class="titletext">
		gramm<span id="title_autogen"></span><span id="cursor"></span>
	</div>

	<div id="leftmenu">
		<div id="search_href_div" class="menu_item">
			<a href='/'>Home</a>
		</div>
		<div id="search_href_div" class="menu_item">
			<a href='/grammar'>Grammar</a>
		</div>
		<div id="search_href_div" class="menu_item">
			<a href='/dict'>Dictionary</a>
		</div>
		<div id="search_href_div" class="menu_item">
			<a href='/search'>Search</a>
		</div>
	</div>

	<div id="intro" class="expos_div">
		<div class="expos_div_title">
			Root Words
		</div>

		<br><br>

		A given three letter root word represents a concept. For example, <span class="krn_word">klm</span> relates to talking. By adding the vowel "a" to the root, we are taking its literal meaning. By adding the vowel "e", we turn it into its "expansive" form -- which usually works by expanding the context of the action. So, talking might become "speaking" in the context of an audience, or a lecture. The word <span class="krn_word">krn</span>, related to doing, would have literal root <span class="krn_word">krna</span> and expansive root <span class="krn_word">krne</span> (pronounced kərəne), which would relate to something like creating, or making -- a more broad context than just "doing."

		<br><br>

		root + a -> literal form
		<br>
		<span class="krn_word">krn</span>+<span class="krn_word">a</span> -> <span class="krn_word">krna</span>: talking

		<br><br>

		root + e -> expansive form
		<br>
		<span class="krn_word">krn</span>+<span class="krn_word">e</span> -> <span class="krn_word">krne</span>: creating, making

		<br><br>

	</div>

	<div id="intro" class="expos_div">
		<div class="expos_div_title">
			Root Derivatives
		</div>

		<br><br>

		Now, we want to derive useful words from these roots. The first will be to make a noun -- we'll add a "c" -- pronounced "ch" -- to the end of the root. Next, we'll add an "m" to create modifier words, like adjectives and adverbs. Note that these words are a bit useless on their own -- we'll have to detail sub-derivatives in a moment. Lastly, adding a "v" will turn this into a verb, or infinitive.

		<br><br>

		root + form + 'c' -> noun base
		<br>
		root + form + 'm' -> adjective / adverb base
		<br>
		root + form + 'v' -> infinitive

		<br><br>

	</div>

	<div id="intro" class="expos_div">
		<div class="expos_div_title">
			Verbs
		</div>

		<br><br>

		Conjugation is simple. Just add the intended pronoun in front of the verb as the subject, and you're done. There are a few modals that you will want to keep in mind -- they're listed below, but you can also probably infer them from the conjugation charts, for instance <a href='/word/gzsav'>here</a>.

		<br><br>

		Past Modal: kn, from Arabic كان
		<br>
		Perfective Modal: pa
		<br>
		Continuous Modal: kr, from Hindi करना, Persian كردن
		<br>
		Future Modal: fr
		<br>
		Imperative Suffix: i (long i/y sound)
		<br><br>

	</div>

	<div id="intro" class="expos_div">
		<div class="expos_div_title">
			Nouns
		</div>

		<br><br>

		There are a few kinds of nouns. The first is the gerund -- that is, the noun representing the action being taken. For example, with the noun base <span class="krn_word">klmac</span>, referring to talking, we'll add a "k" to the end to refer to the gerund. Thus <span class="krn_word">klmack</span> (pronounced kələmachək) means the act of talking -- the verbal noun, that is.

		<br><br>

		Next, let's examine tha agentive noun. By adding a "g" to the end of the noun base, we create a noun referring to the agent of an action. So the noun base <span class="krn_word">klmacg</span> would refer to a person who is talking. Perhaps if we use the expansive root and create the word <span class="krn_word">klmecg</span>, we'll end up with a more useful word -- meaning "speaker" or perhaps "lecturer" in some contexts.

		<br><br>

		Next we have the perfective noun, referring to the result of an action being completed. Let's take the literal root word <span class="krn_word">khna</span>, referring to eating. The noun base here is <span class="krn_word">khnac</span>, and by adding a "p" to the end of the noun, we obtain <span class="krn_word">khnacp</span> -- which refers to the result of eating, or as we commonly know it as, a meal. We're starting to see how this formula yields itself to some very conveniently useful constructions.

		<br><br>

		We can also create a locative noun -- or a noun of place where -- by adding an "l" to the end of the noun base. Doing this with <span class="krn_word">zndac</span>, the noun base for the root referring to living, gets us <span class="krn_word">zndacl</span>, or a place where living occurs -- a home. Similarly, <span class="krn_word">klmecl</span> (pronounced kələmechəl) would refer to a stage, or auditorium -- a place where speaking occurs.

		<br><br>

		noun base + k -> gerundive / verbal noun
		<br>
		noun base + g -> agentive noun
		<br>
		noun base + p -> perfective noun
		<br>
		noun base + l -> locative noun
		<br><br>

	</div>

	<div id="intro" class="expos_div">
		<div class="expos_div_title">
			Modifiers
		</div>

		<br><br>

		When it comes to modifiers, we have a similar schema. Let's take, for instance, the modifier base <span class="krn_word">klmam</span> from the root word <span class="krn_word">klm</span>, relating to talking. We can create two modifiers than many of us are familiar with -- active and passive participles. The active participle will take on the suffix "k," creating the word <span class="krn_word">klmamk</span>, being an adjective meaning "talking" -- for instance, "the talking man." The passive participle will take on the suffix "p," creating an adjective meaning "talked" or "spoken" -- as in, "the spoken word."

		<br><br>

		modifier base + k -> active participle
		<br>
		modifier base + p -> passive participle
		<br><br>

	</div>
</body>
<script>
	var AUTOGENS = ['ar', 'ar', 'ar', 'er?', 'ar', 'err?']

	function addToAutogen(c) {
		title_autogen.textContent += c
	}

	function removeFromAutogen() {
		title_autogen.textContent = title_autogen.textContent.slice(0, title_autogen.textContent.length - 1)
	}

	function autogen_for_title() {
		title_autogen.textContent = ''
		var choice = AUTOGENS[Math.round(Math.random() * AUTOGENS.length)]
		var l = choice.length
		var i = 1
		for (var char of choice) {
			(function (cc) {
				setTimeout(function () {
					addToAutogen(cc)
				}, 400 * i)
			})(char)
			setTimeout(removeFromAutogen, 3000 + 200 * i)
			i = i + 1
		}
	}

	function blinkCursor() {
		if (cursor.innerHTML == "_") {
			cursor.innerHTML = '&nbsp;'
		}
		else {
			cursor.innerHTML = '_'
		}
		setTimeout(blinkCursor, 700)
	}

	autogen_for_title()
	setInterval(autogen_for_title, 6 * 1000)
	blinkCursor();
</script>
</html>